<section class="bg-catalogo">
    <div class="main">
        <div class="container-fluid">
            <div class="container">
                <header>
                    <div class="row">
                        <div class="col text-center">
                            <div class="space-160"></div>
                            <!-- header and subheader here-->
                            <h3 class="title-primary area-hidden">
                                Valor a largo plazo
                            </h3>
                            <div class="space-10"></div>
                            <h1 class="title-secondary area-hidden">
                                Somos protagonistas del <br> futuro que queremos.
                            </h1>
                            <div class="space-200"></div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
</section>
<section style="overflow: hidden;" class="bg-color-catalogo">
    <app-footerv3 [titleFooter]="HTML_FOOTER_TITLE"></app-footerv3>
</section>