<section class="bg-innovacion wow slideInDown">
    <div class="main">
        <div class="container-fluid">
            <div class="container">
                <header>
                    <div class="row">
                        <div class="col text-center">
                            <div class="space-200 d-none d-md-block"></div>
                            <div class="space-100 d-none d-md-block"></div>
                            <div class="space-60 d-md-none"></div>
                            <!-- header and subheader here-->
                            <section style="margin-top: 2%; opacity: 0; overflow: hidden; z-index: -1;" class="title-mobile-m">
                                <h3 class="title-primary top-m">
                                    Valor a largo plazo
                                </h3>
                                <h1 class="title-secondary">
                                    Somos protagonistas del <br class="d-none d-md-block"> futuro que queremos.
                                </h1>
                            </section>
                            <div class="space-200 d-none d-md-block"></div>
                            <div class="space-100 d-none d-md-block"></div>
                            <div class="space-50 d-md-none"></div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
</section>
<section style="overflow: hidden;" class="bg-color-catalogo wow slideInUp">
    <app-footerv3 [titleFooter]="HTML_FOOTER_TITLE"></app-footerv3>
</section>