<!-- sección branding -->
<section class="bg-counter wow slideInDown">
    <div class="space-50"></div>
    <div class="space-50 d-md-none"></div>
    <div class="main">
        <div class="container-fluid">
            <div class="container text-center d-none d-md-block">
                <!-- Desktop section -->
                <h3 class="text-left text-atech-num">
                    01. ¿Qué?
                </h3>
                <h1 class="text-center head-title d-none d-lg-block">
                    Desde la idea a la entrega, <br> somos tu socio estratégico para <br> fabricar en China a <span class="underline">riesgo 0%</span>
                </h1>
                <h1 class="text-center head-title d-lg-none">
                    Desde la idea a la entrega, somos tu socio estratégico para fabricar en China a <span class="underline">riesgo 0%</span>
                </h1>
                <div class="space-25"></div>
                <div class="spacer"></div>
                <div class="space-20"></div>
                <p class="atech-paragraph">
                    Integramos la cadena de suministro verticalmente <br> para conectar cada punto, con eficiencia y sostenibilidad, <br> gestionando de principio a fin, una solución integral.
                </p>
                <div class="space-20"></div>
                <!--<div class="text-center">
                        <button class="btn-view-more btn-block" mat-stroked-button>
                            Ver más
                        </button>
                    </div>-->
                <div class="space-20"></div>
                <!-- counter items -->
                <div class="row text-center offset-lg-1">
                    <div class="col">
                        <mat-card class="atech-counter-box">
                            <mat-card-header>
                                <mat-card-title>
                                    <h1 class="counter">13</h1>
                                    <div class="space-5"></div>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <h3 class="counter-label">años uniendo Oriente <br> con Latinoamérica</h3>
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="atech-counter-box">
                            <mat-card-header>
                                <mat-card-title>
                                    <h1 class="counter">60+</h1>
                                    <div class="space-5"></div>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <h3 class="counter-label">Marcas desarrolladas</h3>
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="atech-counter-box">
                            <mat-card-header>
                                <mat-card-title>
                                    <h1 class="counter">20M+</h1>
                                    <div class="space-5"></div>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <h3 class="counter-label">De unidades producidas y enviadas a Latinoamérica</h3>
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </div>
                </div>
                <!-- end counter items -->
                <!-- end desktop -->
            </div>
            <!-- mobile start-->
            <div class="container text-center d-md-none">
                <h1 class="text-center head-title">
                    Desde la idea a la entrega, somos tu socio estratégico para fabricar en China a <span class="underline">riesgo 0%</span>.
                </h1>
                <div class="space-25"></div>
                <div class="spacer"></div>
                <div class="space-20"></div>
                <p class="atech-paragraph">
                    Integramos la cadena de suministro verticalmente <br> para conectar cada punto, con eficiencia y sostenibilidad, <br> gestionando de principio a fin, una solución integral.
                </p>
                <div class="space-10"></div>
                <!-- counter items -->
                <div class="row text-center x-mg">
                    <div class="col">
                        <mat-card class="atech-counter-box">
                            <mat-card-header>
                                <mat-card-title>
                                    <h1 class="counter">13</h1>
                                    <div class="space-5"></div>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <h3 class="counter-label">años uniendo Oriente <br> con Latinoamérica</h3>
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card style="position: relative; top: -2em" class="atech-counter-box">
                            <mat-card-header>
                                <mat-card-title>
                                    <h1 style="position: relative; left: 0.1em;" class="counter">60+</h1>
                                    <div class="space-5"></div>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <h3 class="counter-label">Marcas desarrolladas</h3>
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card style="position: relative; top: -2em" class="atech-counter-box">
                            <mat-card-header>
                                <mat-card-title>
                                    <h1 class="counter">20M+</h1>
                                    <div class="space-5"></div>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <h3 class="counter-label">De unidades producidas</h3>
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </div>
                </div>
                <!-- end counter items -->
            </div>
            <!-- end mobile -->
        </div>
    </div>
</section>
<!-- end branding section-->
<!-- timeline section -->
<section style="overflow: hidden;" class="d-none d-lg-block wow slideInUp">
    <div class="space-50"></div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3 style="position: relative; top: 2.5em" class="text-left">
                        02. ¿Cómo?
                    </h3>
                    <div class="row atech-stepper-header">
                        <div class="col-2">
                            <h3 class="atech-stepper-title">SOCIOS</h3>
                        </div>
                        <div class="col-2">
                            <h3 class="atech-stepper-title">NOSOTROS</h3>
                        </div>
                    </div>
                    <!-- stepper -->
                    <mat-vertical-stepper #parentStepper (selectionChange)="stepperEventNode($event);" class="text-center atech-stepper">
                        <!-- Label inversos -->
                        <mat-step #matStep aria-labelledby="patner" state="phone" completed="true">
                            <ng-template matStepLabel>
                                <mat-hint class="label-parent label-position">
                                    Requerimiento
                                </mat-hint>
                            </ng-template>
                        </mat-step>
                        <!-- end label inverso -->
                        <!-- start step desplegable -->
                        <mat-step #matStep>
                            <ng-template matStepLabel>
                                <div class="space-15"></div>
                                <mat-hint class="label-parent">
                                    Análisis de mercado
                                </mat-hint>
                                <span class="margin-icon-step-1" *ngFor="let item of DynamicSteps; let i = index">
                                    <mat-hint *ngIf="i === 1">
                                        <button *ngIf="item.interacted" mat-button matStepperNext>
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                clear
                                            </mat-icon>
                                        </button>
                                        <button mat-button matStepperNext *ngIf="!item.interacted">
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                add
                                            </mat-icon>
                                        </button>
                                    </mat-hint>
                                </span>
                            </ng-template>
                            <!-- text below -->
                            <mat-card class="w-50 atech-counter-box">
                                <mat-card-content class="stepper-card-content">
                                    Procesamos los requisitos del proyecto y estudiamos las tendencias de los consumidores y el mercado para ofrecer productos costo eficientes. Asesoramos sobre la industria,competidores y otras variables para determinar la relación entre oferta y demanda
                                    de un determinado producto y tomar decisiones conscientes respecto a la potencialidad del proyecto.
                                </mat-card-content>
                            </mat-card>
                            <!-- end text below -->
                        </mat-step>
                        <!-- end step desplegable -->
                        <!-- start step desplegable -->
                        <mat-step #matStep>
                            <ng-template matStepLabel>
                                <div class="space-15"></div>
                                <mat-hint class="label-parent">
                                    Selección de productos
                                </mat-hint>
                                <span class="margin-icon-step-2" *ngFor="let item of DynamicSteps; let i = index">
                                    <mat-hint *ngIf="i === 2">
                                        <button *ngIf="item.interacted" mat-button matStepperNext>
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                clear
                                            </mat-icon>
                                        </button>
                                        <button mat-button matStepperNext *ngIf="!item.interacted">
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                add
                                            </mat-icon>
                                        </button>
                                    </mat-hint>
                                </span>
                            </ng-template>
                            <!-- text below -->
                            <mat-card class="w-50 atech-counter-box">
                                <mat-card-content class="stepper-card-content">
                                    Nuestra experiencia de más de 13 años en desarrollo de producto en Oriente, nos permite ofrecer las alternativas más competitivas e innovadoras, para asegurar la generación de valor para los clientes y los consumidores finales. Seleccionamos cuidadosamente
                                    las fábricas mediante exigentes auditorías y ofrecemos un plan de negocios a la medida de cada cliente.
                                </mat-card-content>
                            </mat-card>
                            <!-- end text below -->

                        </mat-step>
                        <!-- end step desplegable -->
                        <!-- start step desplegable -->
                        <mat-step #matStep>
                            <ng-template matStepLabel>
                                <div class="space-15"></div>
                                <mat-hint class="label-parent">
                                    Plan de abastecimiento
                                </mat-hint>
                                <span class="margin-icon-step-3" *ngFor="let item of DynamicSteps; let i = index">
                                    <mat-hint *ngIf="i === 3">
                                        <button *ngIf="item.interacted" mat-button matStepperNext>
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                clear
                                            </mat-icon>
                                        </button>
                                        <button mat-button matStepperNext *ngIf="!item.interacted">
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                add
                                            </mat-icon>
                                        </button>
                                    </mat-hint>
                                </span>
                            </ng-template>
                            <!-- text below -->
                            <mat-card class="w-50 atech-counter-box">
                                <mat-card-content class="stepper-card-content">
                                    Entender todos los puntos estratégicos de los procesos de fabricación y logística, nos habilita a actuar con rapidez y eficiencia, para dar respuesta. La planificación táctica y estratégica es pilar de la organización, reduciendo los costos y maximizando
                                    los tiempos.
                                </mat-card-content>
                            </mat-card>
                            <!-- end text below -->
                        </mat-step>
                        <!-- end step desplegable -->
                        <!-- start step desplegable -->
                        <mat-step #matStep>
                            <ng-template matStepLabel>
                                <div class="space-10"></div>
                                <mat-hint class="label-parent">
                                    Branding
                                </mat-hint>
                                <span class="margin-icon-step-4" *ngFor="let item of DynamicSteps; let i = index">
                                    <mat-hint *ngIf="i === 4">
                                        <button *ngIf="item.interacted" mat-button matStepperNext>
                                            <mat-icon class="icon-stepper-tab text-short" matSuffix>
                                                clear
                                            </mat-icon>
                                        </button>
                                        <button mat-button matStepperNext *ngIf="!item.interacted">
                                            <mat-icon class="icon-stepper-tab text-short" matSuffix>
                                                add
                                            </mat-icon>
                                        </button>
                                    </mat-hint>
                                </span>
                            </ng-template>
                            <!-- text below -->
                            <mat-card class="w-50 atech-counter-box">
                                <mat-card-content class="stepper-card-content">
                                    Diseñamos productos y marcas alineados a la identidad de cada cliente y al espíritu del consumidor final. La mercadería se entrega cuidadosamente empacada lista para ser exhibida,vendida,distribuída o almacenada de forma eficiente con todos los elementos
                                    necesarios agregados, como etiquetados y códigos de barras, conectando las necesidades del cliente, el importador y el cliente final, dando una solución end to end al empaquetado.
                                </mat-card-content>
                            </mat-card>
                            <!-- end text below -->
                        </mat-step>
                        <!-- end step desplegable -->
                        <!-- start step desplegable -->
                        <mat-step #matStep>
                            <ng-template matStepLabel>
                                <div class="space-15"></div>
                                <mat-hint class="label-parent">
                                    Manufactura y calidad
                                </mat-hint>
                                <span class="margin-icon-step-5" *ngFor="let item of DynamicSteps; let i = index">
                                    <mat-hint *ngIf="i === 5">
                                        <button *ngIf="item.interacted" mat-button matStepperNext>
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                clear
                                            </mat-icon>
                                        </button>
                                        <button mat-button matStepperNext *ngIf="!item.interacted">
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                add
                                            </mat-icon>
                                        </button>
                                    </mat-hint>
                                </span>
                            </ng-template>
                            <!-- text below -->
                            <mat-card class="w-50 atech-counter-box">
                                <mat-card-content class="stepper-card-content">
                                    Nuestro equipo confirma todos los detalles para garantizar que se proceda con la producción cumpliendo con las instrucciones y plazos. Gestionamos el flujo de fondos y pagos, ofreciendo alternativas de financiamiento. Los procesos de auditoría de nuestras
                                    operaciones previamente, durante y finalizada la producción certifican que los productos cumplan todos los requisitos. De la mano de la trazabilidad y la mejora continua, todos nuestros socios descansan en la garantía
                                    del respaldo de Atech.
                                </mat-card-content>
                            </mat-card>
                            <!-- end text below -->
                        </mat-step>
                        <!-- end step desplegable -->
                        <!-- start step desplegable -->
                        <mat-step #matStep>
                            <ng-template matStepLabel>
                                <div class="space-10"></div>
                                <mat-hint class="label-parent">
                                    Logística
                                </mat-hint>
                                <span class="margin-icon-step-6" *ngFor="let item of DynamicSteps; let i = index">
                                    <mat-hint *ngIf="i === 6">
                                        <button *ngIf="item.interacted" mat-button matStepperNext>
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                clear
                                            </mat-icon>
                                        </button>
                                        <button mat-button matStepperNext *ngIf="!item.interacted">
                                            <mat-icon class="icon-stepper-tab" matSuffix>
                                                add
                                            </mat-icon>
                                        </button>
                                    </mat-hint>
                                </span>
                            </ng-template>
                            <!-- text below -->
                            <mat-card class="w-50 atech-counter-box">
                                <mat-card-content class="stepper-card-content">
                                    Gestionamos la salida física y documental de la mercadería en orígen y destino, garantizando que no se produzcan demoras ni problemas. Solucionamos el tránsito interno, consolidación y desconsolidación de carga en depóstio, tramitación de documentos locales
                                    e internacionales. Reserva y planificación de fletes internacionales con seguimiento hasta destino de forma costoeficiente y de la forma más amigable con el medioambiente posible. Resolvemos la comunicación, la mediación
                                    y la documentación cuidando a nuestros socios.
                                </mat-card-content>
                            </mat-card>
                            <!-- end text below -->
                        </mat-step>
                        <!-- end step desplegable -->
                        <!-- Label inversos -->
                        <mat-step #matStep aria-labelledby="patner" state="phone" completed="true">
                            <ng-template matStepLabel>
                                <mat-hint class="label-parent label-position8">
                                    Importación
                                </mat-hint>
                            </ng-template>
                        </mat-step>
                        <!-- end label inverso -->
                        <!-- Label inversos -->
                        <mat-step #matStep aria-labelledby="patner" state="phone" completed="true">
                            <ng-template matStepLabel>
                                <mat-hint class="label-parent label-position9">
                                    Depósito
                                </mat-hint>
                            </ng-template>
                        </mat-step>
                        <!-- end label inverso -->
                        <!-- Label inversos -->
                        <mat-step aria-labelledby="patner" #matStep state="phone" completed="true">
                            <ng-template matStepLabel>
                                <mat-hint class="label-parent label-position10">
                                    Distribución
                                </mat-hint>
                            </ng-template>
                        </mat-step>
                        <!-- end label inverso -->
                        <!-- Label inversos -->
                        <mat-step #matStep aria-labelledby="patner" state="phone" completed="true">
                            <ng-template matStepLabel>
                                <mat-hint class="label-parent label-position11">
                                    Comercialización
                                </mat-hint>
                            </ng-template>
                        </mat-step>
                        <!-- end label inverso -->
                    </mat-vertical-stepper>
                    <!-- end steeper-->
                    <div class="space-80"></div>
                    <div class="col-sm text-center">
                        <h3 class="footer-timeline">Damos solución <b><span class="underline">en China</span></b> facilitando todas las partes<br> del proceso del cliente en Latinoamérica.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end timeline-->
<!-- timeline mobile -->
<section style="overflow: hidden;" class="d-md-none wow slideInUp">
    <app-v2></app-v2>
</section>
<!-- end timeline mobile -->
<!-- Banner slider coming -->
<div class="space-80 d-none d-md-block"></div>
<section class="bg-testimonial wow slideInUp">
    <app-banner></app-banner>
</section>
<!-- end banner slider -->
<!-- map desktop section -->
<section class="wow slideInUp d-none d-lg-block" style="overflow: hidden;">
    <app-map></app-map>
</section>
<!-- end map desktop section -->
<!-- map mobile -->
<section class="wow slideInUp d-lg-none" style="overflow: hidden;">
    <app-mapv2></app-mapv2>
</section>
<!-- end map mobile -->

<!-- cases overview -->
<div class="space-5 d-none d-lg-block"></div>
<div class="space-50 d-lg-none"></div>
<section class="cases-m">
    <app-casesv2></app-casesv2>
</section>
<!-- end cases overview -->
<!-- footer home -->
<section style="overflow: hidden;" class="bg-testimonial wow slideInUp">
    <app-footer></app-footer>
</section>
<!-- end footer home -->