<section class="bg-logistica wow slideInDown">
    <div class="main">
        <div class="container-fluid">
            <div class="container">
                <header>
                    <div class="row">
                        <div class="col text-center">
                            <div class="space-160 d-none d-md-block"></div>
                            <div class="space-60 d-md-none"></div>
                            <!-- header and subheader here-->
                            <section style="margin-top: 2%;" class="title-mobile-m">
                                <h3 class="title-primary top-m">
                                    Estrategas del movimiento
                                </h3>
                                <h1 class="title-secondary">
                                    Agilidad en el traslado de <br class="d-none d-md-block"> materias y productos de <br class="d-none d-md-block"> forma costo eficientes
                                </h1>
                            </section>
                            <div class="space-160 d-none d-md-block"></div>
                            <div class="space-50 d-md-none"></div>

                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
</section>
<!-- start information -->
<section>
    <div class="main">
        <div class="container-fluid">
            <div class="container">
                <!-- breadcrumbs -->
                <section>
                    <div class="space-30"></div>
                    <app-breadcrumbs></app-breadcrumbs>
                    <div class="space-30"></div>
                    <!-- end breadcrumbs -->
                </section>
                <!-- start section -->
                <section class="d-none d-lg-block">
                    <div class="block block-right">
                        <div class="block-image col-7">
                            <figure class="wow fadeInRight">
                                <img src="./assets/images/atech-logistica2.jpg" alt="atech-logistica">
                            </figure>
                        </div>
                        <div class="block-text col-5 wow slideInLeft">
                            <h3 class="case-title">Gestión:</h3>
                            <article class="case-text">
                                <p>
                                    Realizamos un plan estratégico a la medida de nuestros socios: Coordinación de logística interna (pick up de mercadería, traslado y entrega en depósito; propio o del cliente), flete internacional, consolidación y desconsolidación de mercadería, paletización
                                    y acondicionamiento para las cargas en condición LCL
                                </p>
                                <p>
                                    En paralelo, nos encargamos de la coordinación documental, jugando un papel fundamental en la eficiencia al momento de la salida de la carga desde origen al destino definido. En este punto se avanza con la operativa dependiendo el tipo de flete internacional
                                    acordado, FCL/LCL/Aéreo o multimodal, garantizando la correcta salida documental en la aduana de origen, así como los documentos de transporte internacional necesitados por el cliente para realizar la importación en
                                    destino.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="space-100"></div>
                    <div class="block block-left">
                        <div class="block-image col-6 wow fadeInLeft">
                            <figure>
                                <img src="./assets/images/atech-logistica3.jpg" alt="atech-logistica">
                            </figure>
                        </div>
                        <div class="block-text col-5 wow slideInRight">
                            <h3 class="case-title">Optimización:</h3>
                            <article class="case-text">
                                <p>
                                    Mediante softwares de aprovechamiento de carga maximizamos la distribución de los espacios dentro de los contenedores haciendo un eficaz uso del espacio, sacando máximo rédito a los envíos y facilitando la carga y descarga en condiciones FLC.
                                </p>
                                <p>
                                    A su vez contamos con servicio de warehousing para aquellos clientes que quisieran conservar stock en origen, permitiendo administrar sus provisiones y despachos con mayor flexibilidad.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="space-100"></div>
                    <div class="block block-right">
                        <div class="block-image col-7">
                            <figure class="wow fadeInRight">
                                <img src="./assets/images/atech-logistica4.jpg" alt="atech-logistica-china">
                            </figure>
                        </div>
                        <div class="block-text col-5 wow slideInLeft">
                            <h3 class="case-title">Seguimiento</h3>
                            <article class="case-text">
                                <div class="space-10"></div>
                                <p>
                                    Nuestros analistas mantienen contacto regular con todas las partes involucradas, notificando a nuestros socios paso a paso el estadío de su orden. Centralizamos el diálogo entre fábrica, despachante e importador de forma que todo se ejecute por medio
                                    de un único interlocutor, evitando así fallas en la comunicación.
                                </p>
                                <p>
                                    Contar con información fidedigna resulta clave a la hora de toma de decisiones.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="space-100"></div>
                    <div class="block block-left">
                        <div class="block-image col-7 wow fadeInLeft">
                            <figure>
                                <img src="./assets/images/atech-logistica5.jpg" alt="atech-logistica-china">
                            </figure>
                        </div>
                        <div class="block-text col-4 wow slideInRight">
                            <h3 class="case-title">Compromiso:</h3>
                            <article class="case-text">
                                <div class="space-10"></div>
                                <p>
                                    Nuestro compromiso excede a nuestros socios. No solo velamos por los intereses del cliente, también por el de generaciones futuras. Es por eso que desde el momento de concreción, perseguimos la mayor eficiencia en nuestros procesos de modo que nuestras
                                    acciones tengan el menor impacto posible en el medio ambiente.
                                </p>
                                <p>
                                    En conjunto al departamento de innovación medimos la huella de carbono de nuestras emisiones en logística y ahondamos en recursos para reducirla o neutralizarla.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <!-- end section -->
                <!-- mobile section -->
                <section class="d-lg-none m-global">
                    <div class="row text-center">
                        <div class="col-12 text-center">
                            <mat-card class="card-theme wow slideInUp">
                                <mat-card-header>
                                    <mat-card-title class="case-title se-title x-m-short">
                                        Gestión
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-logistica2.jpg" alt="atech-logistica">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            Realizamos un plan estratégico a la medida de nuestros socios: Coordinación de logística interna (pick up de mercadería, traslado y entrega en depósito; propio o del cliente), flete internacional, consolidación y desconsolidación de mercadería, paletización
                                            y acondicionamiento para las cargas en condición LCL
                                        </p>
                                        <p>
                                            En paralelo, nos encargamos de la coordinación documental, jugando un papel fundamental en la eficiencia al momento de la salida de la carga desde origen al destino definido. En este punto se avanza con la operativa dependiendo el tipo de flete internacional
                                            acordado, FCL/LCL/Aéreo o multimodal, garantizando la correcta salida documental en la aduana de origen, así como los documentos de transporte internacional necesitados por el cliente para realizar la importación
                                            en destino.
                                        </p>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12 text-center">
                            <div class="space-30"></div>
                            <mat-card class="card-theme wow slideInUp">
                                <mat-card-header>
                                    <mat-card-title class="case-title se-title x-m-short">
                                        Optimización
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-logistica3.jpg" alt="atech-logistica">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            Mediante softwares de aprovechamiento de carga maximizamos la distribución de los espacios dentro de los contenedores haciendo un eficaz uso del espacio, sacando máximo rédito a los envíos y facilitando la carga y descarga en condiciones FLC.
                                        </p>
                                        <p>
                                            A su vez contamos con servicio de warehousing para aquellos clientes que quisieran conservar stock en origen, permitiendo administrar sus provisiones y despachos con mayor flexibilidad.
                                        </p>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12 text-center">
                            <div class="space-30"></div>
                            <mat-card class="card-theme wow slideInUp">
                                <mat-card-header>
                                    <mat-card-title class="case-title se-title x-m-short">
                                        Seguimiento:
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-logistica4.jpg" alt="atech-logistica">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            Nuestros analistas mantienen contacto regular con todas las partes involucradas, notificando a nuestros socios paso a paso el estadío de su orden. Centralizamos el diálogo entre fábrica, despachante e importador de forma que todo se ejecute por medio
                                            de un único interlocutor, evitando así fallas en la comunicación.
                                        </p>
                                        <p>
                                            Contar con información fidedigna resulta clave a la hora de toma de decisiones.
                                        </p>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12 text-center">
                            <div class="space-30"></div>
                            <mat-card class="card-theme wow slideInUp">
                                <mat-card-header>
                                    <mat-card-title class="case-title se-title x-m-short">
                                        Compromiso
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-logistica5.jpg" alt="atech-logistica">
                                <mat-card-content>
                                    <div class="space-15"></div>
                                    <article class="case-text">
                                        <p>
                                            Nuestro compromiso excede a nuestros socios. No solo velamos por los intereses del cliente, también por el de generaciones futuras. Es por eso que desde el momento de concreción, perseguimos la mayor eficiencia en nuestros procesos de modo que nuestras
                                            acciones tengan el menor impacto posible en el medio ambiente.
                                        </p>
                                        <p>
                                            En conjunto al departamento de innovación medimos la huella de carbono de nuestras emisiones en logística y ahondamos en recursos para reducirla o neutralizarla.
                                        </p>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </section>
                <!-- end mobile section -->
            </div>
        </div>
    </div>
</section>
<!-- end information -->
<div class="space-50 d-none d-md-block"></div>
<!-- CTA FORM -->
<section style="overflow: hidden;" class="bg-testimonial wow slideInUp">
    <app-footerv3 [titleFooter]="HTML_FOOTER_TITLE"></app-footerv3>
</section>
<!-- end CTA-->