.popup-card {
    border: 0px !important;
    background-color: transparent;
    box-shadow: none;
}

.popup-title-colors {
    color: #1249cf
}

.popup-title {
    font-family: 'Roboto-Bold', serif;
    font-weight: bold;
    font-size: 25px;
}

.popup-subheader {
    text-align: center;
    color: #5B5B5C;
    font-family: 'Roboto-Light', serif;
    font-weight: bold;
    font-size: 24px;
}

.atech-marker {
    color: #01ff85;
    font-size: 40px;
    margin-left: -0.8em;
    cursor: pointer;
}

.flag-cards {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}

.brazil-flag {
    background-image: url(../../../../assets/images/country/v2/brasil-flag.png);
    background-repeat: no-repeat;
}

.colombia-flag {
    background-image: url(../../../../assets/images/country/v2/col-flag.png);
    background-repeat: no-repeat;
}

.uruguay-flag {
    background-image: url(../../../../assets/images/country/v2/ur-flag.png);
    background-repeat: no-repeat;
}

.peru-flag {
    background-image: url(../../../../assets/images/country/v2/p-flag.png);
    background-repeat: no-repeat;
}

.argentina-flag {
    background-image: url(../../../../assets/images/country/v2/arg-flag.png);
    background-repeat: no-repeat;
}

.chile-flag {
    background-image: url(../../../../assets/images/country/v2/chl-flag.png);
    background-repeat: no-repeat;
}

.mexico-flag {
    background-image: url(../../../../assets/images/country/v2/mex-flag.png);
    background-repeat: no-repeat;
}

.panama-flag {
    background-image: url(../../../../assets/images/country/v2/pam-flag.png);
    background-repeat: no-repeat;
}


/*.border-flag {
    border: 1px solid #1249cf
}*/