body {
    font-family: 'Lato', sans-serif;
}

figure {
    box-shadow: none !important;
}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar-background {
    background-color: transparent !important;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    /*25*/
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 55px;
    color: #056DFF;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    line-height: 1;
    font-family: 'Chivo-Bold', Lato !important;
}

@media only screen and (max-width: 320px) {
    .overlay-content a {
        font-size: 24px !important;
        margin-top: 1em !important;
    }
    .overlay-content {
        position: relative;
        top: 1%;
        /*25*/
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}

@media only screen and (max-widtH: 480px) {
    .overlay-content a {
        font-size: 35px;
        margin-top: 0.5em !important;
    }
    .overlay-content {
        position: relative;
        top: 1%;
        /*25*/
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .atech-slogan {
        position: fixed !important;
        bottom: 0 !important;
        left: 0;
        right: 0;
        z-index: 1000 !important;
    }
}

@media only screen and (min-height: 700px) and (max-width: 480px) {
    .overlay-content a {
        font-size: 35px;
        margin-top: 1em !important;
    }
}

.overlay a:hover,
.overlay a:focus {
    /*color: #f1f1f1;*/
    text-decoration: underline;
}

.no-hover:hover {
    text-decoration: none !important;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 525px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .overlay-content a {
        margin-top: -0.1em !important;
        position: relative;
        top: -0.5em
    }
}

@media only screen and (max-width: 480px) and (min-height: 525px) and (max-height: 575px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 30px;
        padding: 15px;
        line-height: 1;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .overlay-content a {
        margin-top: -0.1em !important;
        position: relative;
        top: -0.5em
    }
}

@media only screen and (min-width: 980px) and (max-height: 720px) {
    .overlay-content {
        position: relative;
        top: 1%;
        /*25*/
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 980px) and (max-height: 800px) {
    .overlay-content {
        position: relative;
        top: 1%;
        /*25*/
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
}