body {
    font-family: 'Lato', sans-serif;
}

figure {
    box-shadow: none !important;
}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar-background {
    background-color: transparent !important;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    /*25*/
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 55px;
    color: #056DFF;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    line-height: 1;
    font-family: 'Chivo-Bold', Lato !important;
}

.overlay a:hover,
.overlay a:focus {
    /*color: #f1f1f1;*/
    text-decoration: underline;
}

.no-hover:hover {
    text-decoration: none !important;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}