<section [ngStyle]="{'background-size': renderMapAuto+'px auto'}" class="bg-map">
    <div class="space-200"></div>
    <div class="space-50"></div>
    <div class="main">
        <div class="container-fluid">
            <div class="container">
            </div>
        </div>
    </div>
    <div class="space-70 d-none d-md-block d-lg-none"></div>

</section>
<!-- list navigation -->
<section class="m-10">
    <div class="main">
        <div class="container-fluid">
            <div class="container">
                <mat-nav-list role="navigation">
                    <div mat-subheader>
                        <h3 class="atech-header">Oficinas de Atech</h3>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon class="atech-marker" mat-list-icon>place</mat-icon>
                        <h1 class="office-title" mat-line>Buenos Aires, Argentina</h1>
                        <!--<mat-icon matPrefix class="material-icons">add</mat-icon>-->
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon class="atech-marker" mat-list-icon>place</mat-icon>
                        <h1 class="office-title" mat-line>Barcelona, España</h1>
                        <!--<mat-icon matPrefix class="material-icons">add</mat-icon>-->
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon class="atech-marker" mat-list-icon>place</mat-icon>
                        <h1 class="office-title" mat-line>Shenzhen, China</h1>
                        <!--<mat-icon matPrefix class="material-icons">add</mat-icon>-->
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-nav-list>
            </div>
        </div>
    </div>
</section>