.atech-popup {
    font-size: 14px;
    font-family: 'Chivo-Regular', serif !important;
    color: #5B5B5C;
    text-align: center;
    line-height: 1.5;
    padding: 5px;
}

.color-popup {
    color: #5B5B5C !important;
    font-family: 'Chivo-Regular', Arial;
}

input {
    color: #5B5B5C !important;
    font-family: 'Chivo-Regular', Arial;
}

input::placeholder {
    color: #5B5B5C !important;
    font-family: 'Chivo-Regular', Arial;
}

.policy-text {
    font-family: 'Roboto-Regular', serif;
    font-size: 16px;
    color: #5B5B5C
}

.btn-touch {
    /*background-color: #01FF85;
    color: #253A67;*/
    background-color: transparent;
    color: #5B5B5C;
    border: 1px solid #06A1FE;
    font-family: 'Chivo-Bold', serif;
    box-shadow: none !important;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.btn-touch:hover {
    background-color: #06A1FE;
    color: #ffffff
}

.btn-touch-cancel {
    background-color: transparent;
    color: #5B5B5C;
    border: 1px solid #5B5B5C;
    font-family: 'Chivo-Bold', serif;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.btn-touch-cancel:hover {
    background-color: #5B5B5C;
    color: #ffffff
}