<section class="bg-innovacion wow slideInDown">
    <div class="main">
        <div class="container-fluid">
            <div class="container">
                <header>
                    <div class="row">
                        <div class="col text-center">
                            <div class="space-160"></div>
                            <!-- header and subheader here-->
                            <h3 class="title-primary top-m">
                                Valor a largo plazo
                            </h3>
                            <h1 class="title-secondary">
                                Somos protagonistas del <br class="d-none d-md-block"> futuro que queremos.
                            </h1>
                            <div class="space-200"></div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
</section>
<!-- start information -->
<section>
    <div class="main">
        <div class="container-fluid">
            <div class="container">
                <!-- breadcrumbs -->
                <section style="margin-left: -0.7em;">
                    <div class="space-30"></div>
                    <app-breadcrumbs></app-breadcrumbs>
                    <div class="space-30"></div>
                    <!-- end breadcrumbs -->
                </section>
                <!-- start section -->
                <section class="d-none d-lg-block">
                    <div class="block block-right">
                        <div class="block-image col-7">
                            <figure class="wow fadeInRight">
                                <img src="./assets/images/atech-logistica5.jpg" alt="atech-innovación">
                            </figure>
                        </div>
                        <div class="block-text col-5 wow slideInLeft">
                            <h3 class="case-title">Impacto:</h3>
                            <article class="case-text">
                                <p>
                                    El personal de la empresa está comprometido detrás de una gran motivación: alinearnos con los Objetivos de Desarrollo Sostenible de Naciones Unidas generando impactos positivos a nivel medioambiental, social y por supuesto económico.
                                </p>
                                <p>
                                    Nos enfocamos en la medición y mejora de nuestros procesos y productos, para crear una propuesta de valor superadora.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="space-100"></div>
                    <div class="block block-left">
                        <div class="block-image col-6 wow fadeInLeft">
                            <figure>
                                <img src="./assets/images/atech-innovacion2.jpg" alt="atech-manufactura">
                            </figure>
                        </div>
                        <div class="block-text col-5 wow slideInRight">
                            <h3 class="case-title">Estrategia de sustentabilidad:</h3>
                            <article class="case-text">
                                <p>
                                    Abordamos ésta materia multidisciplinariamente:
                                </p>
                                <!-- items -->
                                <mat-nav-list role="navigation">
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Medición de huella de carbono.</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Tácticas de compenzación <br> de CO2.</h3>
                                    </mat-list-item>
                                    <br>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Planeamiento del abastecimiento <br> de nuestros socios.</h3>
                                    </mat-list-item>
                                    <br><br>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Realizamos un estudio de <br> materialidad de los empaques <br> e implementamos estrategias <br> de ecodiseño.</h3>
                                    </mat-list-item>
                                </mat-nav-list>
                                <!-- end items -->
                            </article>
                        </div>
                    </div>
                    <div class="space-100"></div>
                    <div class="block block-right">
                        <div class="block-image col-7">
                            <figure class="wow fadeInRight">
                                <img src="./assets/images/atech-innovacion3.jpg" alt="atech-innovación">
                            </figure>
                        </div>
                        <div class="block-text col-5 wow slideInLeft">
                            <h3 class="case-title">Logística de carbono neutro:</h3>
                            <article class="case-text">
                                <div class="space-10"></div>
                                <p>
                                    Conscientes de que toda actividad de logística deja una huella ambiental desde el departamento de innovación se desarrolló una herramienta propia que permite medir las emisiones generadas por las operaciones de la empresa e introducir diversas estrategias
                                    para compensarlas con acciones como plantar arboles o la compra de Créditos de Carbono, con el objetivo de covertirnos en una empresa Carbon Neutral.
                                </p>
                                <p>
                                    A su vez, toda la operación esta rigurosamente planificada de modo que el impacto sobre el medio ambiente sea el menor posible, abogamos por operar con envíos marítimos y optimizar la carga de nuestros contenedores.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="space-100"></div>
                    <div class="block block-left">
                        <div class="block-image col-7 wow fadeInLeft">
                            <figure>
                                <img src="./assets/images/atech-innovacion4.jpg" alt="atech-manufactura-china">
                            </figure>
                        </div>
                        <div class="block-text col-4 wow slideInRight">
                            <h3 class="case-title">Desmaterialización y reciclaje:</h3>
                            <article class="case-text">
                                <div class="space-10"></div>
                                <p>
                                    Desarrollamos una línea de packaging sustentable que genere un impacto positivo a precios competitivos sin perder imagen de marca.
                                </p>
                                <p>
                                    Reducir el volumen y peso de los productos y sus empaques es una estrategia que no solo beneficia económicamente sino que reduce considerablemente el impacto ambiental de los mismos, tanto en su traslado como para su descarte.
                                </p>
                                <p>
                                    Pensando en aumentar el grado de reciclabilidad de nuestros empaques, incorporamos el uso de bioplásticos (plásticos compostables o biodegradables) y técnicas y materiales que faciliten el reciclaje (Cartones FSC, craft, reducir uso de tintas, barnices
                                    y plasticos prescindibles).
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <!-- end section -->
                <!-- mobile section -->
                <section class="d-lg-none">
                    <div class="row text-center">
                        <div class="col-12 text-center">
                            <mat-card class="card-theme wow slideInUp">
                                <mat-card-header>
                                    <mat-card-title class="case-title se-title x-m">
                                        Impacto
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-logistica5.jpg" alt="atech-innovación">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            El personal de la empresa está comprometido detrás de una gran motivación: alinearnos con los Objetivos de Desarrollo Sostenible de Naciones Unidas generando impactos positivos a nivel medioambiental, social y por supuesto económico.
                                        </p>
                                        <p>
                                            Nos enfocamos en la medición y mejora de nuestros procesos y productos, para crear una propuesta de valor superadora.
                                        </p>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12 text-center">
                            <div class="space-30"></div>
                            <mat-card class="card-theme wow slideInUp">
                                <mat-card-header>
                                    <mat-card-title class="case-title se-title x-m">
                                        Estrategia de sustentabilidad:
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-innovacion2.jpg" alt="atech-innovación">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            Abordamos ésta materia multidisciplinariamente:
                                        </p>
                                        <!-- items -->
                                        <mat-nav-list style="margin-left: -12%;" role="navigation">
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Medición de huella <br> de carbono.</h3>
                                            </mat-list-item>
                                            <br>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Tácticas de compenzación <br> de CO2.</h3>
                                            </mat-list-item>
                                            <br><br>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Planeamiento del <br> abastecimiento de <br> nuestros socios.</h3>
                                            </mat-list-item>
                                            <br><br><br>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Realizamos un estudio <br> de materialidad de los <br> empaques e implementamos <br> estrategias de ecodiseño.</h3>
                                            </mat-list-item>
                                            <br>
                                        </mat-nav-list>
                                        <!-- end items -->
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12 text-center">
                            <div class="space-30"></div>
                            <mat-card class="card-theme wow slideInUp">
                                <mat-card-header>
                                    <mat-card-title class="case-title se-title x-m">
                                        Logística de carbono neutro:
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-innovacion3.jpg" alt="atech-innovación">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            Conscientes de que toda actividad de logística deja una huella ambiental desde el departamento de innovación se desarrolló una herramienta propia que permite medir las emisiones generadas por las operaciones de la empresa e introducir diversas estrategias
                                            para compensarlas con acciones como plantar arboles o la compra de Créditos de Carbono, con el objetivo de covertirnos en una empresa Carbon Neutral.
                                        </p>
                                        <p>
                                            A su vez, toda la operación esta rigurosamente planificada de modo que el impacto sobre el medio ambiente sea el menor posible, abogamos por operar con envíos marítimos y optimizar la carga de nuestros contenedores.
                                        </p>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12 text-center">
                            <div class="space-30"></div>
                            <mat-card class="card-theme wow slideInUp">
                                <mat-card-header>
                                    <mat-card-title class="case-title se-title x-m">
                                        Desmaterialización y reciclaje:
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-innovacion4.jpg" alt="atech-innovación">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            Desarrollamos una línea de packaging sustentable que genere un impacto positivo a precios competitivos sin perder imagen de marca.
                                        </p>
                                        <p>
                                            Reducir el volumen y peso de los productos y sus empaques es una estrategia que no solo beneficia económicamente sino que reduce considerablemente el impacto ambiental de los mismos, tanto en su traslado como para su descarte.
                                        </p>
                                        <p>
                                            Pensando en aumentar el grado de reciclabilidad de nuestros empaques, incorporamos el uso de bioplásticos (plásticos compostables o biodegradables) y técnicas y materiales que faciliten el reciclaje (Cartones FSC, craft, reducir uso de tintas, barnices
                                            y plasticos prescindibles).
                                        </p>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </section>
                <!-- end mobile section -->
            </div>
        </div>
    </div>
</section>
<!-- end information -->
<div class="space-50"></div>
<!-- CTA FORM -->

<section style="overflow: hidden;" class="bg-testimonial wow slideInUp">
    <app-footerv3 [titleFooter]="HTML_FOOTER_TITLE"></app-footerv3>
</section>
<!-- end CTA-->