<section class="bg-manufactura">
    <div class="main">
        <div class="container-fluid">
            <div class="container">
                <header>
                    <div class="row">
                        <div class="col text-center">
                            <div class="space-160"></div>
                            <!-- header and subheader here-->
                            <h3 class="title-primary">
                                En buenas manos
                            </h3>
                            <div class="space-10"></div>
                            <h1 class="title-secondary">
                                Su producción respaldada <br> por nuestra garantía.
                            </h1>
                            <div class="space-200"></div>
                            <div class="space-30"></div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
</section>
<!-- start information -->
<section>
    <div class="main">
        <div class="container-fluid">
            <div class="container">
                <!-- breadcrumbs -->
                <div class="space-30"></div>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="space-30"></div>
                <!-- end breadcrumbs -->
                <!-- start section -->
                <section class="d-none d-lg-block">
                    <div class="space-30"></div>
                    <div class="row text-center">
                        <div class="space-30"></div>
                        <div class="col-sm text-left">
                            <h3 class="case-title">Selección de proveedores:</h3>
                            <article style="width: 80%;" class="case-text">
                                <div class="space-20"></div>
                                <p>
                                    Contamos con una amplia cartera de proveedores cuidadosamente seleccionados, basándonos en auditorías que cubren siete pilares:
                                </p>
                                <!-- items -->
                                <mat-nav-list role="navigation">
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Perfil de la compañía</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Recursos humanos</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Comercio internacional</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Capacidad de producción</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Controles de calidad</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Investigación y desarrollo</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Requisitos especiales propios y de nuestros clientes</h3>
                                    </mat-list-item>
                                </mat-nav-list>
                                <!-- end items -->
                            </article>
                        </div>
                        <div class="col-sm">
                            <figure>
                                <img class="img-fluid d-none d-md-block" src="./assets/images/atech-manufactura-case2.jpg" alt="atech-manufactura">
                                <img style="border: 0px;" class="img-thumbnail d-md-none" src="./assets/images/atech-manufactura-case2.jpg" alt="atech-manufactura">
                            </figure>
                        </div>
                    </div>
                    <div class="space-50"></div>
                    <div class="row text-center">
                        <div class="space-30"></div>
                        <div class="col-sm">
                            <figure>
                                <img class="img-fluid d-none d-md-block" src="./assets/images/atech-manufactura-case.jpg" alt="atech-manufactura">
                                <img style="border: 0px;" class="img-thumbnail d-md-none" src="./assets/images/atech-manufactura-case.jpg" alt="atech-manufactura">
                            </figure>
                        </div>
                        <div class="col-sm text-left">
                            <div class="space-30"></div>
                            <h3 class="case-title">Auditorías:</h3>
                            <article class="case-text">
                                <p>
                                    Inspeccionamos a nuestros proveedores bajo el standard <b>ISO 9001</b>, para garantizar los más altos niveles de calidad y cumplimiento de entregas de acuerdo a estándares internacionales y las necesidades particulares
                                    de cada cliente. Contamos con un sistema de Scoring de proveedores el cual pondera diversos factores (Porcentaje de fallas, cantidad de reclamos, puntualidad en las entregas, lotes rechazados) y nos permite la correcta
                                    gestion de los fabricantes.
                                </p>
                                <p>
                                    Trabajamos con laboratorios de pruebas y certificaciones para garantizar el cumplimiento de normas de seguridad, eléctricas, y otras, para cada país de destino.
                                </p>
                                <p>
                                    Contamos con acuerdos con empresas de control con un total de más de 350 inspectores y de soporte legal en China para asegurar la garantía ante fallas, demoras e incumplimiento de contratos.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="space-100"></div>
                    <div class="row text-center">
                        <div class="space-30"></div>
                        <div class="col-sm text-left">
                            <h3 class="case-title">Producción y controles:</h3>
                            <article class="case-text">
                                <div class="space-10"></div>
                                <p>
                                    Trabajamos incansablemente en la mejora continua por SKU. Nuestros procesos de inspección nos permiten verificar cada detalle y obtener trazabilidad de las producciones. Inspeccionamos todos los lotes utilizando sistemas estadísticos internacionales que
                                    garantizan el mejor balance entre control y costo de inspección <b>(ISO 2859-1)</b>.
                                </p>
                                <p>
                                    Al finalizar una producción se hace un control sobre siete puntos clave:
                                </p>
                                <!-- items -->
                                <mat-nav-list role="navigation">
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Cantidades</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Mano de obra</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Pruebas de funcionamiento</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Cumplimiento de especificaciones técnicas</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Packaging</h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Etiquetado
                                        </h3>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                        <h3 class="atech-line-item" matLine>Requisitos especiales del cliente</h3>
                                    </mat-list-item>
                                </mat-nav-list>
                                <!-- end items -->
                            </article>
                        </div>
                        <div class="col-sm">
                            <figure>
                                <img class="img-fluid d-none d-md-block" src="./assets/images/atech-manufactura-case3.jpg" alt="atech-manufactura-china">
                                <img style="border: 0px;" class="img-thumbnail d-md-none" src="./assets/images/atech-manufactura-case3.jpg" alt="atech-manufactura-china">
                            </figure>
                        </div>
                    </div>
                    <div class="space-100"></div>
                    <div class="row text-center">
                        <div class="space-30"></div>
                        <div class="col-sm">
                            <figure>
                                <img class="img-fluid d-none d-md-block" src="./assets/images/atech-manufactura-case4.jpg" alt="atech-manufactura-china">
                                <img style="border: 0px;" class="img-thumbnail d-md-none" src="./assets/images/atech-manufactura-case4.jpg" alt="atech-manufactura-china">
                            </figure>
                        </div>
                        <div class="col-sm text-left">
                            <h3 class="case-title">Procesos:</h3>
                            <article class="case-text">
                                <div class="space-10"></div>
                                <p>
                                    Contamos con un proceso de trabajo resultado de años de experiencia y mejora continua sobre el mismo el cual minimiza los probelmas y maximiza la eficiencia de la operacion.
                                </p>
                                <p>
                                    Trabajamos en conjunto con nuestros socios para ayudarlos a establecer procesos de control de calidad y registro estadístico.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <!-- end section -->
                <!-- mobile section -->
                <section class="d-lg-none">
                    <div class="row text-center">
                        <div class="col-12 text-center">
                            <mat-card class="card-theme">
                                <mat-card-header>
                                    <mat-card-title class="case-title">
                                        Selección de proveedores
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-manufactura-case2.jpg" alt="atech-manufactura">
                                <mat-card-content>
                                    <article class="case-text">
                                        <p>
                                            Contamos con una amplia cartera de proveedores cuidadosamente seleccionados, basándonos en auditorías que cubren siete pilares:
                                        </p>
                                        <!-- items -->
                                        <mat-nav-list role="navigation">
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Perfil de la compañía</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Recursos humanos</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Comercio internacional</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Capacidad de producción</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Controles de calidad</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Investigación y desarrollo</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Requisitos especiales propios y de nuestros clientes</h3>
                                            </mat-list-item>
                                        </mat-nav-list>
                                        <!-- end items -->
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12 text-center">
                            <div class="space-30"></div>
                            <mat-card class="card-theme">
                                <mat-card-header>
                                    <mat-card-title class="case-title">
                                        Auditorías
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-manufactura-case.jpg" alt="atech-manufactura">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            Inspeccionamos a nuestros proveedores bajo el standard <b>ISO 9001</b>, para garantizar los más altos niveles de calidad y cumplimiento de entregas de acuerdo a estándares internacionales y las necesidades particulares
                                            de cada cliente. Contamos con un sistema de Scoring de proveedores el cual pondera diversos factores (Porcentaje de fallas, cantidad de reclamos, puntualidad en las entregas, lotes rechazados) y nos permite
                                            la correcta gestion de los fabricantes.
                                        </p>
                                        <p>
                                            Trabajamos con laboratorios de pruebas y certificaciones para garantizar el cumplimiento de normas de seguridad, eléctricas, y otras, para cada país de destino.
                                        </p>
                                        <p>
                                            Contamos con acuerdos con empresas de control con un total de más de 350 inspectores y de soporte legal en China para asegurar la garantía ante fallas, demoras e incumplimiento de contratos.
                                        </p>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12 text-center">
                            <div class="space-30"></div>
                            <mat-card class="card-theme">
                                <mat-card-header>
                                    <mat-card-title class="case-title">
                                        Producción y controles:
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-manufactura-case3.jpg" alt="atech-manufactura">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            Trabajamos incansablemente en la mejora continua por SKU. Nuestros procesos de inspección nos permiten verificar cada detalle y obtener trazabilidad de las producciones. Inspeccionamos todos los lotes utilizando sistemas estadísticos internacionales que
                                            garantizan el mejor balance entre control y costo de inspección <b>(ISO 2859-1)</b>.
                                        </p>
                                        <p>
                                            Al finalizar una producción se hace un control sobre siete puntos clave:
                                        </p>
                                        <mat-nav-list role="navigation">
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Cantidades</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Mano de obra</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Pruebas de funcionamiento</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Cumplimiento de especificaciones técnicas</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Packaging</h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Etiquetado
                                                </h3>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                                                <h3 class="atech-line-item" matLine>Requisitos especiales del cliente</h3>
                                            </mat-list-item>
                                        </mat-nav-list>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12 text-center">
                            <div class="space-30"></div>
                            <mat-card class="card-theme">
                                <mat-card-header>
                                    <mat-card-title class="case-title">
                                        Procesos
                                    </mat-card-title>
                                    <div class="space-30"></div>
                                </mat-card-header>
                                <img mat-card-image src="./assets/images/atech-manufactura-case4.jpg" alt="atech-manufactura">
                                <mat-card-content>
                                    <article class="case-text">
                                        <div class="space-15"></div>
                                        <p>
                                            Contamos con un proceso de trabajo resultado de años de experiencia y mejora continua sobre el mismo el cual minimiza los probelmas y maximiza la eficiencia de la operacion.
                                        </p>
                                        <p>
                                            Trabajamos en conjunto con nuestros socios para ayudarlos a establecer procesos de control de calidad y registro estadístico.
                                        </p>
                                    </article>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </section>
                <!-- end mobile section -->
            </div>
        </div>
    </div>
</section>
<!-- end information -->
<div class="space-50"></div>
<!-- CTA FORM -->
<section style="overflow: hidden;" class="bg-testimonial">
    <app-footerv3 [titleFooter]="HTML_FOOTER_TITLE"></app-footerv3>
</section>
<!-- end CTA-->