<div class="container-fluid">
    <div class="container">
        <div class="row">
            <!-- arrow left -->
            <div class="d-none d-md-block arrow-position-left">
                <div class="space-150"></div>
                <a href="#carouselExampleControls" role="button" data-slide="prev">
                    <!--<mat-icon class="material-icons arrow-left">keyboard_arrow_left</mat-icon>-->
                    <span (mouseenter)="OnHover($event, 'left');" (mouseleave)="OnMouseLeave($event, 'left')" class="arrow-design">
                        <img #arrowLeft src="./assets/images/FlechaIzq.png" alt="arrow-left">
                    </span>
                </a>
            </div>
            <!-- end arrow -->
            <div class="col text-center p-80">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h1 class="text-light testimonial-title">
                                <blockquote>
                                    "Atech nos permitió optimizar nuestras operaciones de forma que nos resultara eficiente y escalable en el tiempo".
                                </blockquote>
                            </h1>
                        </div>
                        <div class="carousel-item">
                            <h1 class="text-light testimonial-title">
                                <blockquote>
                                    "Atech nos permitió optimizar nuestras operaciones de forma que nos resultara eficiente y escalable en el tiempo".
                                </blockquote>
                            </h1>
                        </div>
                        <div class="carousel-item">
                            <h1 class="text-light testimonial-title">
                                <blockquote>
                                    "Atech nos permitió optimizar nuestras operaciones de forma que nos resultara eficiente y escalable en el tiempo".
                                </blockquote>
                            </h1>
                        </div>
                    </div>
                    <!--<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>-->
                </div>
            </div>
            <!-- arrow left -->
            <div class="d-none d-md-block arrow-position-right">
                <div class="space-150"></div>
                <a href="#carouselExampleControls" role="button" data-slide="next">
                    <!--<mat-icon class="material-icons arrow-left">keyboard_arrow_right</mat-icon>-->
                    <span (mouseenter)="OnHover($event, 'right');" (mouseleave)="OnMouseLeave($event, 'right')" class="arrow-design">
                        <img #arrowRight src="./assets/images/FlechaDER.png" alt="arrow-right">
                    </span>
                </a>
            </div>
            <!-- end arrow left-->
        </div>
    </div>
</div>