.testimonial-title {
    font-size: 38px;
    font-family: 'Chivo-Bold', serif;
    line-height: 1.4;
    text-align: center;
}

.arrow-left {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-left: 1.5em;
    font-size: 50px;
    color: #ffffff;
    font-weight: lighter;
}

.arrow-left:hover {
    border: 1px solid #253A67;
    background-color: transparent;
    color: #253A67
}

.arrow-position-left {
    position: absolute;
    left: 90px;
}

.arrow-position-right {
    position: absolute;
    right: 90px;
    overflow: hidden;
}

@media only screen and (min-width: 1200px) {
    .p-80 {
        padding: 100px;
    }
}

@media only screen and (max-width: 480px) {
    .p-80 {
        padding: 40px;
    }
    .testimonial-title {
        font-size: 24px;
        font-family: 'Chivo-Bold', serif;
        line-height: 1.4;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    .testimonial-title {
        font-size: 18px;
        font-family: 'Chivo-Bold', serif;
        line-height: 1.4;
        text-align: center;
    }
}

@media only screen and (min-width: 485px) and (max-width: 768px) {
    .p-80 {
        padding: 80px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
    .p-80 {
        padding: 100px;
    }
}