<div class="main">
    <div class="container-fluid">
        <div class="container">
            <div class="space-100"></div>
            <div class="row wow slideInDown">
                <div class="col text-center">
                    <h1 class="footerv1-title">
                        ¡Seamos socios!
                    </h1>
                    <section class="d-none d-md-block">
                        <div class="space-30"></div>
                        <div class="spacer"></div>
                        <div class="space-30"></div>
                    </section>
                    <h3 class="footerv1-subtitle">
                        ¿Crees que Atech puede resultar de utilidad para tu negocio? <br class="d-none d-lg-block"> Déjanos algunos datos básicos y nos pondremos en contacto
                    </h3>
                </div>
            </div>
            <!-- form here -->
            <div class="space-30"></div>
            <form id="touchform" class="d-none d-lg-block">
                <div class="form-row text-center">
                    <div class="col wow slideInLeft">
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="outline">
                                <mat-label class="text-light form-label">Nombre</mat-label>
                                <input type="text" name="firstname" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="outline">
                                <mat-label class="text-light form-label">Apellido</mat-label>
                                <input type="text" name="lastname" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="outline">
                                <mat-label class="text-light form-label">País</mat-label>
                                <input type="text" name="country" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="outline">
                                <mat-label class="text-light form-label">Correo electrónico</mat-label>
                                <input type="email" name="email" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="outline">
                                <mat-label class="text-light form-label">Compañia</mat-label>
                                <input type="text" name="company" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="outline">
                                <mat-label class="text-light form-label">Teléfono</mat-label>
                                <input type="tel" name="phone" required matInput>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col wow slideInRight">
                        <h3 class="text-light check-title">
                            Estoy interesado en producir:
                        </h3>
                        <div class="form-control bg-transparent no-border text-left offset-lg-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Accesorios para móviles</mat-label>
                            </mat-checkbox>
                        </div>
                        <div class="form-control bg-transparent no-border text-left offset-lg-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Equípos de seguridad</mat-label>
                            </mat-checkbox>
                        </div>
                        <div class="form-control bg-transparent no-border text-left offset-lg-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Tablets</mat-label>
                            </mat-checkbox>
                        </div>
                        <div class="form-control bg-transparent no-border text-left offset-lg-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Notebooks</mat-label>
                            </mat-checkbox>
                        </div>
                        <div class="form-control bg-transparent no-border text-left offset-lg-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Mochilas antirobo</mat-label>
                            </mat-checkbox>
                        </div>
                        <div class="form-control bg-transparent no-border text-left offset-lg-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Otros</mat-label>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
                <div class="row wow slideInUp">
                    <div class="col text-center offset-1">
                        <div class="space-20"></div>
                        <button form="touchform" type="submit" class="text-center btn-lg btn-touch btn-block w-25" mat-raised-button>
                            ¡SI, ESCRIBANME!
                        </button>
                        <br>
                        <div class="space-30"></div>
                        <mat-hint class="text-white policy-text">
                            100% libre de spam. Tus datos no serán cedidos a terceros. <br> Puedes darte de baja cuando te apetezca. Nada que perder :)
                        </mat-hint>
                    </div>
                </div>
                <div class="space-30"></div>
            </form>
            <!-- end form -->
            <!-- form responsive -->
            <form class="d-lg-none wow slideInUp">
                <div class="row text-center">
                    <div class="col">
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="fill">
                                <mat-label class="text-light form-label">Nombre</mat-label>
                                <input type="text" name="firstname" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="fill">
                                <mat-label class="text-light form-label">Apellido</mat-label>
                                <input type="text" name="lastname" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="fill">
                                <mat-label class="text-light form-label">País</mat-label>
                                <input type="text" name="country" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="fill">
                                <mat-label class="text-light form-label">Correo electrónico</mat-label>
                                <input type="email" name="email" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="fill">
                                <mat-label class="text-light form-label">Compañia</mat-label>
                                <input type="text" name="company" required matInput>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-75 atech-field offset-lg-4" appearance="fill">
                                <mat-label class="text-light form-label">Teléfono</mat-label>
                                <input type="tel" name="phone" required matInput>
                            </mat-form-field>
                        </p>
                        <h3 class="text-light check-title">
                            Estoy interesado en producir:
                        </h3>
                        <div class="form-control bg-transparent no-border text-left offset-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Accesorios para móbiles</mat-label>
                            </mat-checkbox>
                        </div>
                        <div class="form-control bg-transparent no-border text-left offset-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Equípos de seguridad</mat-label>
                            </mat-checkbox>
                        </div>
                        <div class="form-control bg-transparent no-border text-left offset-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Tablets</mat-label>
                            </mat-checkbox>
                        </div>
                        <div class="form-control bg-transparent no-border text-left offset-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Notebooks</mat-label>
                            </mat-checkbox>
                        </div>
                        <div class="form-control bg-transparent no-border text-left offset-2">
                            <mat-checkbox color="default">
                                <mat-label class="checkbox-label text-center">Mochilas antirobo</mat-label>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>