<div style="z-index: -1;" id="page" class="page">
    <div class="no-banner-placeholder"></div>
    <article id="wrapper" role="main">
        <div id="container">
            <h3 class="text-left text-atech-num">
                04.¿Quiénes?
            </h3>
            <!-- desktop cases -->
            <section class="d-none d-lg-block">
                <div class="block block-left">
                    <div class="block-image col-7 wow fadeInLeft">
                        <figure>
                            <img src="./assets/images/atech-manufactura-china.jpg" alt="atech-manufactura-china">
                        </figure>
                    </div>
                    <div class="block-text col-4 wow slideInRight">
                        <h3 class="case-title">NUESTRA HISTORIA</h3>
                        <article class="case-text">
                            <p>
                                Atech nace en 2007 en la Argentina con la visión de tender un puente entre Oriente y Occidente. Unir la increíble capacidad productiva oriental con la creciente demanda de bienes innovadores a precios competitivos, que emergía en Latinoamérica.
                            </p>
                            <p>
                                Gracias a la competitividad de la propuesta, el negocio creció de manera sostenida y rápidamente incrementó sus ventas en el canal mayorista.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="space-100"></div>
                <div class="block block-right">
                    <div class="block-image col-8">
                        <figure class="wow fadeInRight">
                            <img src="./assets/images/atech-historia.jpg" alt="atech-historia">
                        </figure>
                    </div>
                    <div class="block-text col-4 wow slideInLeft">
                        <article class="case-text">
                            <div class="space-50"></div>
                            <p>
                                Tras afianzar un equípo con talento local e internacional combinado, hacia 2009 logramos profesionalizar nuestros procesos de gestión consolidando una red de alto nivel de fabricantes en China dispuestos satisfacer la demanda de calidad para los estándares
                                del mercado occidental.
                            </p>
                            <p>
                                Asegurar una alta rentavilidad en productos de calidad a bajo riesgo de inversión se volvió nuestra razón de ser.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="space-100"></div>
                <div class="block block-left">
                    <div class="block-image col-7">
                        <figure class="wow fadeInLeft">
                            <img src="./assets/images/atech-historia2.jpg" alt="atech-manufactura-china">
                        </figure>
                    </div>
                    <div class="block-text col-4">
                        <article class="case-text wow slideInRight">
                            <div class="space-50"></div>
                            <p>
                                En 2010, dimos un nuevo salto de calidad al comprender la importancia de colaborar con nuestros socios a posicionar los productos frente al competitivo mercado.
                            </p>
                            <p>
                                Nuestro equipo de diseñadores se encarga del diseño del producto, ayudando a crear y proteger el estilo e identidad de la marca.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="space-100"></div>
                <div class="block block-right">
                    <div class="block-image col-8">
                        <figure class="wow fadeInRight">
                            <img src="./assets/images/atech-historia3.jpg" alt="atech-manufactura-china">
                        </figure>
                    </div>
                    <div class="block-text col-4">
                        <article class="case-text wow slideInLeft">
                            <div class="space-50"></div>
                            <p>
                                Convencidos de nuestro talento, decidimos evolucionar hacia un rol de mayor protagonismo, involucrándonos en el principio de la cadena conectando el forecast del cliente con un exhaustivo analisis de mercado y un minucioso plan de producción.
                            </p>
                            <p>
                                Abrazando la mejora continua, controlamos el abastecimiento de las marcas de nuestros clientes de forma eficiente, evitando el quiebre de stock y ordenando la producción para que no excedan su capacidad.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="space-100"></div>
                <div class="block block-left">
                    <div class="block-image col-7">
                        <figure class="wow fadeInLeft">
                            <img src="./assets/images/atech-historia4.jpg" alt="atech-manufactura-china">
                        </figure>
                    </div>
                    <div class="block-text col-4">
                        <article class="case-text wow slideInRight">
                            <div class="space-50"></div>
                            <p>
                                Inmerso en un mercado voraz, en 2018 en Atech decidimos asumir un compromiso entendiendo que el éxito de los negocios se define por su capacidad de crear valor en el largo plazo, para las personas y el medio ambiente.
                            </p>
                            <p>
                                Con este propósito, ampliamos la estructura concretando el departamento de Innovación & Sustentabilidad en Barcelona, España, enfocado en la medición y mejora de los procesos y productos, para crear una propuesta de valor con impacto ambiental y social
                                positivo.
                            </p>
                        </article>
                    </div>
                </div>
            </section>
            <!-- end desktop cases -->
            <!-- mobile section -->
            <section class="d-lg-none">
                <div class="row text-center">
                    <div class="col-12 text-center">
                        <mat-card class="card-theme wow slideInUp">
                            <mat-card-header>
                                <mat-card-title>
                                    <h2 style="position: relative; left: -0.7em;" class="case-title">
                                        NUESTRA HISTORIA
                                    </h2>
                                </mat-card-title>
                                <div class="space-30"></div>
                            </mat-card-header>
                            <img mat-card-image src="./assets/images/atech-manufactura-china.jpg" alt="atech-manufactura">
                            <mat-card-content>
                                <article class="case-text">
                                    <p>
                                        Atech nace en 2007 en la Argentina con la visión de tender un puente entre Oriente y Occidente. Unir la increíble capacidad productiva oriental con la creciente demanda de bienes innovadores a precios competitivos, que emergía en Latinoamérica.
                                    </p>
                                    <p>
                                        Gracias a la competitividad de la propuesta, el negocio creció de manera sostenida y rápidamente incrementó sus ventas en el canal mayorista.
                                    </p>
                                </article>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 text-center">
                        <div class="space-30"></div>
                        <mat-card class="card-theme wow slideInUp">
                            <img mat-card-image src="./assets/images/atech-historia.jpg" alt="atech-historia">
                            <mat-card-content>
                                <article class="case-text">
                                    <div class="space-15"></div>
                                    <p>
                                        Tras afianzar un equípo con talento local e internacional combinado, hacia 2009 logramos profesionalizar nuestros procesos de gestión consolidando una red de alto nivel de fabricantes en China dispuestos satisfacer la demanda de calidad para los estándares
                                        del mercado occidental.
                                    </p>
                                    <p>
                                        Asegurar una alta rentavilidad en productos de calidad a bajo riesgo de inversión se volvió nuestra razón de ser.
                                    </p>
                                </article>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 text-center">
                        <div class="space-30"></div>
                        <mat-card class="card-theme wow slideInUp">
                            <img mat-card-image src="./assets/images/atech-historia2.jpg" alt="atech-manufactura">
                            <mat-card-content>
                                <article class="case-text">
                                    <div class="space-15"></div>
                                    <p>
                                        En 2010, dimos un nuevo salto de calidad al comprender la importancia de colaborar con nuestros socios a posicionar los productos frente al competitivo mercado.
                                    </p>
                                    <p>
                                        Nuestro equipo de diseñadores se encarga del diseño del producto, ayudando a crear y proteger el estilo e identidad de la marca.
                                    </p>
                                </article>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 text-center">
                        <div class="space-30"></div>
                        <mat-card class="card-theme wow slideInUp">
                            <img mat-card-image src="./assets/images/atech-historia3.jpg" alt="atech-manufactura">
                            <mat-card-content>
                                <article class="case-text">
                                    <div class="space-15"></div>
                                    <p>
                                        Convencidos de nuestro talento, decidimos evolucionar hacia un rol de mayor protagonismo, involucrándonos en el principio de la cadena conectando el forecast del cliente con un exhaustivo analisis de mercado y un minucioso plan de producción.
                                    </p>
                                    <p>
                                        Abrazando la mejora continua, controlamos el abastecimiento de las marcas de nuestros clientes de forma eficiente, evitando el quiebre de stock y ordenando la producción para que no excedan su capacidad.
                                    </p>
                                </article>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12 text-center">
                        <div class="space-30"></div>
                        <mat-card class="card-theme wow slideInUp">
                            <img mat-card-image src="./assets/images/atech-historia4.jpg" alt="atech-manufactura">
                            <mat-card-content>
                                <article class="case-text">
                                    <div class="space-15"></div>
                                    <p>
                                        Inmerso en un mercado voraz, en 2018 en Atech decidimos asumir un compromiso entendiendo que el éxito de los negocios se define por su capacidad de crear valor en el largo plazo, para las personas y el medio ambiente.
                                    </p>
                                    <p>
                                        Con este propósito, ampliamos la estructura concretando el departamento de Innovación & Sustentabilidad en Barcelona, España, enfocado en la medición y mejora de los procesos y productos, para crear una propuesta de valor con impacto ambiental y social
                                        positivo.
                                    </p>
                                </article>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </section>
            <!-- end mobile section -->
            <div class="space-100"></div>
            <div class="spacer"></div>
            <div class="space-30"></div>
            <div class="row">
                <div class="col text-center">
                    <h1 class="case-end-footer wow slideInUp">
                        Atech es el orgullo de 13 años conectando cuidadosamente los puntos de la cadena,<br> para sacar lo mejor de cada uno y entregar productos que hacen una diferencia, a nuestros socios, las personas y el planeta
                    </h1>
                </div>
            </div>
        </div>
    </article>
</div>